.root {
    -fx-background: rgb(25, 25, 25);
    -fx-background-color: rgb(25, 25, 25);
    -fx-font-family: arial;
    -fx-fill: white;
    -fx-text-fill: white;
}

.root VBox,
.root HBox,
.root BorderPane,
.root ScrollPane {
    -fx-background: rgb(25, 25, 25);
    -fx-background-color: rgb(25, 25, 25);
}

.root .hyperlink {
    -fx-border-color: null;
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-underline: false;
}

.root Text {
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.center {
    -fx-alignment: center;
}

.title {
    -fx-font-weight: bolder;
    -fx-font-size: 40px;
}

.content-wrapper > * {
    -fx-max-width: 1120px;
    -fx-padding: 20px;
}

.image-button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: white;
    -fx-font-family: arial;
    -fx-font-weight: bolder;
    -fx-font-size: 14px;
    -fx-pref-width: 175px;
}

.image-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

.image-button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 5em;
}

.scroll-pane .scroll-bar > .increment-button > .increment-arrow,
.scroll-pane .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.image-button-list .empty-message {
    -fx-font-weight: bolder;
    -fx-font-size: 26px;
}

.image-button-list HBox {
    -fx-background-color: rgb(30, 30, 30);
}

.header {
    -fx-background-color: rgb(17, 17, 17);
    -fx-padding: 10px
}

.header .header-logo {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: orange;
    -fx-padding: 0px 20px 0px 10px;
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-height: 100%;
}

.header > * {
    -fx-padding: 10px 10px;
}

.header .header-button {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.header .header-button:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.search-field {
    -fx-background-color: rgb(255, 255, 255);
    -fx-font-size: 16;
}

.search-button {
    -fx-background-color: rgb(255, 255, 255);
    -fx-font-size: 16;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: black;
}

.info-wrapper {
    -fx-padding: 50px 100px 100px 100px;
}

.info-main-layout {
    -fx-padding: 50px 100px 100px 100px;
}

.info-main-info {
    -fx-padding: 0px 50px 0px 50px;
}

.info-rating {
    -fx-text-fill: gold;
    -fx-font-size: 20px;
}

.info-description {
    -fx-font-family: arial;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.info-title {
    -fx-font-family: arial;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

.info-categories {
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.seasons-box {
    -fx-padding: 100px 0 0 0;
}

.action-button {
    -fx-min-width: 150px;
    -fx-min-height: 50px;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 3 3 3 3;
    -fx-background-insets: 0 0 0 0;
}

.action-button:hover {
    -fx-opacity: 0.8;
}

.action-button:pressed {
    -fx-opacity: 0.7;
}

.playing-text {
    -fx-font-size: 30px;
}

.playing-text-container {
    -fx-border-width: 5px 5px 5px 5px;
    -fx-border-color: white;
    -fx-max-width: 400px;
}

.image-button-grid {

}

.image-button-grid.center FlowPane {
    -fx-alignment: center;
}

.title-wrapper {
    -fx-padding: 0px 0px 20px 0px;
}

.image-button-grid.center .title-wrapper {
    -fx-alignment: center;
}

.user-select-wrapper {
    -fx-padding: 100px;
}

.user-select-wrapper > * {
    -fx-max-width: 1000px;
}

.user-select-wrapper .image-button-grid FlowPane {
    -fx-padding: 30px 0px 0px 0px;
}

.front-page-content {
    -fx-padding: 50px 0px 50px 0px;
}
